.sideBar {
    position: relative;
        background-color: #1e213a;
        width: 560px;
        max-width: 500px;
        min-width: 380px;
        height: 100vh;
        overflow: hidden;
}


.sideTop {
    position: relative;
    display: flex;
    margin: 30px;
    align-items: center;
    transition: all .3s ease-in;
    z-index: 99;
}

.button {
    font-family: 'Raleway', sans-serif;
    background-color: #6e707a;
    font-weight: 900;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 7px;
    -webkit-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.08);
}
.button:hover {
    cursor: pointer;
}

#currentLocation {
    font-size: 23px;
    padding: 5px;
    border-radius: 100%;
    background-color: #6e707a;
    color: white;
    -webkit-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.08);
}

#currentLocation:hover {
    cursor: pointer;
}

.searchBar {
    position: absolute;
    padding: 10px;
    width: 96%;
    height: 100vh;
    left: -1600px;
    background-color: #1e213a;
    z-index: 99999;
    transition: all .5s;
}

.searchTopBar {
    margin: 10px;
    display: flex;
    align-items: center;
}

.searchInput {
    font-family: 'Raleway', sans-serif;
    background-color: #585676;
    border: none;
    font-weight: 900;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    color: white;
}

.searchInput:focus {
    outline:0;
}
.bar:hover {
    cursor: pointer;
}

.searchResults {
    font-family: 'Raleway', sans-serif;
        padding: 10px;
        margin: 10px;
        border: 1px solid #616475;
        transition: all .2s;
        border-radius: 5px;
}



.searchResults:hover {
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #616475;
    background-color: #585676;
}

.top {
    display: flex;
}

.bg {
    position: absolute;
    width: 700px;
    opacity: 15%;
    left: -160px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}

.condition {
    margin-top: 100px;
    flex-grow: .28;
}
.conditionText {
    flex-grow: .2;
}

.temp {
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.temp1 {
        font-size: 20px;
            font-family: 'Raleway', sans-serif;
            color: #a09fb1;
}

.cityInfo {
        position: relative;
            font-family: 'Raleway', sans-serif;
            color: #a09fb1;
            font-weight: 900;
            justify-content: center;
            display: flex;
            align-items: center;
            bottom: 150px;
}


@media only screen and (max-width: 700px) {
    .sideBar {
        max-width: none;
        min-height: none;
        width: 100%;
    }
}
